/*Styling for desktop menu options when user is viewing the current (active) option*/
.MuiBox-root > a.active {
    color: cadetblue;
}

.MuiFilledInput-root {
    background-color: #2a6a85;
}

.MuiFilledInput-root:hover {
    background-color: #26617a;
}

.GreenButton {
    background: green;
}

.GreenButton:hover {
    background: rgb(0, 115, 0);
}