/*Styling for desktop menu options when user is viewing the current (active) option*/
.MuiBox-root > a.active {
    color: cadetblue;
}

.GreenButton {
    background: green;
}

.GreenButton:hover {
    background: rgb(0, 115, 0);
}

.vertical-timeline::before {
    background: rgb(19, 19, 40);
}

.TimelineDate {
    color: black;
    font-family: Roboto, Arial, sans-serif;
}